[core]
editor = vim
autocrlf = input

[alias]
br = branch
cm = commit -v
co = checkout
lg = log --graph --pretty=custom
ls = ls-files
st = status

[color]
diff = auto
status = auto
branch = auto
ui = true

[pretty]
custom = "%C(blue)%h%C(cyan)%d » %C(reset)%s"

[commit]
template = ~/.gitmessage

[push]
default = simple

[include]
path = ~/.gitconfig.local
