[core]
editor = nvim
autocrlf = input

[alias]
br = branch
cm = commit -v
co = checkout
lg = log --graph --pretty=custom
ls = ls-files
st = status
amend = commit --amend --reuse-message=HEAD
undo = reset --soft HEAD~1

[color]
diff = auto
status = auto
branch = auto
ui = true

[pretty]
custom = "%C(blue)%h%C(cyan)%d » %C(reset)%s"

[commit]
template = ~/.gitmessage

[push]
default = simple

[help]
autocorrect = 10

[include]
path = ~/.gitconfig.local
